[Unit]
Description=INDI Server AllSky 
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/indiserver -m 100 -p 7626 -v \
    indi_v4l2_ccd

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
