[Unit]
Description=INDI Server Davis Vantage VUE Weather Station 
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/indiserver -m 100 -p 7625 -v \
    indi_vantage_weather

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
