[Unit]
Description=INDI Server Power HUB 
After=multi-user.target

[Service]
Type=idle
User=powerhub
#Environment=INDISKEL=/usr/share/indi/arua_powerhub_sk.xml
ExecStart=/usr/local/bin/arua_powerhub_indiserver.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
