[Unit]
Description=INDI Server Power HUB 
After=multi-user.target

[Service]
Type=idle
User=powerhub
Environment=INDISKEL=/usr/share/indi/arua_powerhub_sk.xml
ExecStart=/usr/bin/indiserver -m 100 -v \
  indi_duino

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
