[Unit]
Description=INDI QHY5LII-Mono
After=multi-user.target arua_system-west_indiserver.service
BindsTo=arua_system-west_indiserver.service

[Service]
Restart=always
RestartSec=5
User=west
ExecStart=/usr/local/bin/arua_qhy5lii.sh

[Install]
WantedBy=multi-user.target
