[Unit]
Description=INDI iOptron CEM120
Requires=arua_system-west_indiserver.service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=5
User=west
ExecStart=/usr/local/bin/arua_cem120.sh

[Install]
WantedBy=multi-user.target
