[Unit]
Description=INDI Atik 320e
Requires=arua_system-west_indiserver.service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=5
User=west
ExecStart=/usr/local/bin/arua_atik320e.sh

[Install]
WantedBy=multi-user.target
