[Unit]
Description=INDI QHY5LII-Mono
Requires=arua_system-west_indiserver.service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=5
User=west
ExecStart=/usr/local/bin/arua_qhy5lii.sh

[Install]
WantedBy=multi-user.target
