[Unit]
Description=INDI Server System East
After=multi-user.target

[Service]
Restart=always
RestartSec=5
User=east
ExecStart=/usr/local/bin/arua_system-east_indiserver.sh

[Install]
WantedBy=multi-user.target
