[Unit]
Description=INDI Server Observatory System
After=multi-user.target

[Service]
Restart=always
RestartSec=5
User=obs
ExecStart=/usr/local/bin/arua_system-obs_indiserver.sh

[Install]
WantedBy=multi-user.target
