[Unit]
Description=Roll-Off Roof Controller
After=multi-user.target

[Service]
Restart=always
RestartSec=5
User=obs
ExecStart=/usr/share/indi/scripts/ror.py

[Install]
WantedBy=multi-user.target
