[Unit]
Description=INDI Server Lunar System 
After=multi-user.target

[Service]
Restart=always
RestartSec=5
User=lunar
ExecStart=/usr/local/bin/arua_system-lunar_indiserver.sh

[Install]
WantedBy=multi-user.target
